@page
@model Online_Book_Store.Pages.Authors.DeleteModel

@{
    ViewData["Title"] = "Delete";
    string Date = Model.Author.Born.ToString("dd.MM.yyyy");
}

<div class="jumbotron p-0 d-flex justify-content-between">
    <h1 class="display-4 text-danger">Remove</h1>
    <h2 class="display-4">@Model.Author.Name</h2>
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Born)
        </dt>
        <dd class="col-sm-10">
            @Date
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Colledge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Colledge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.University)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.University)
        </dd>
        @if (Model.Author.Email != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author.Email)
            </dd>
        }

    </dl>

</div>

<hr />

<div class="d-flex justify-content-between">
    <div>
        <form method="post">
            <input type="hidden" asp-for="Author.ID" />
            <input type="submit" value="YEP" class="btn btn-outline-danger" />
        </form>
    </div>
    <div>
        <a asp-page="./Index" class="btn btn-warning">Back to List</a>
    </div>
</div>
