@page
@model Online_Book_Store.Pages.Authors.DetailsModel

@{
    ViewData["Title"] = "Details";
    string BornDate = Model.Author.Born.ToString("dd.MM.yyyy");
}

<div class="jumbotron p-0 d-flex justify-content-between">
    <h1 class="display-4">@Model.Author.Name</h1>
</div>

<div>
    <dl class="row">
        <!--Birth date-->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Born)
        </dt>
        <dd class="col-sm-10">
            @BornDate
        </dd>
        <!--Colledge-->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Colledge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Colledge)
        </dd>

        <!--University-->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.University)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.University)
        </dd>

        <!--Email-->
        @if (Model.Author.Email != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author.Email)
            </dd>
        }

    </dl>
</div>

<hr />

<div class="d-flex justify-content-between">
    <div>
        <a asp-page="./Index" class="btn btn-primary bg-warning">Back to List</a>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Author.ID" class="btn btn-warning">Edit</a>
        @if (Model.Author.BookAuthor.Any())
        {
            <a asp-page="./Details" asp-route-id="@Model.Author.ID" asp-route-DeleteAttempt="true" class="btn btn-outline-secondary">Delete</a>
        }
        else
        {
            <a asp-page="./Delete" asp-route-id="@Model.Author.ID" class="btn btn-danger">Delete</a>
        }

    </div>

</div>
<div class="d-flex justify-content-end">
    <div>
        @if (Model.DeleteAttempt)
        {
            <p class="text-danger text-right">*Cannot delete Author while Book is assigned to him!</p>
        }
    </div>
</div>

<div>
    @if (Model.Author.BookAuthor.Any())
    {
        <p class="font-weight-bold">Books</p>

        <div class="row ContentWidth100Centered bg-warning">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <span class="font-weight-bold">ID</span> Title
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 text-secondary">
                Genre
            </div>
            <div class="col-lg-2 col-md-10 col-sm-12 text-info">
                Publish date
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <span class="text-danger">Rating</span>|<span class="text-success">Price</span>
            </div>
        </div>

        int rowCount = Model.Author.BookAuthor.Select(b => b.Book).Count();
        int counter = 1;

        foreach (var b in Model.Author.BookAuthor.Select(b => b.Book))
        {
            string PublishDate = b.Publish_date.ToString("dd.MM.yyyy");
            string LowerBorder = counter == rowCount ? "" : "border-bottom: 1px solid;";

            <a asp-page="../Books/Details" asp-route-id="@b.ID" asp-route-ReturnId="@Model.Author.ID" class="d-flex linkModifier">
                <div class="row ContentWidth100Centered" style="@LowerBorder padding: 2px 1px">
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <span class="font-weight-bold">@b.ID</span> @b.Title
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 text-secondary">
                        @b.Genre
                    </div>
                    <div class="col-lg-2 col-md-10 col-sm-12 text-info">
                        @PublishDate
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <span class="text-danger">@b.Rating</span>|<span class="text-success">@b.Price</span>
                    </div>
                </div>
            </a>

            counter++;
        }
        <br />
    }
    else
    {
        <p class="text-center text-secondary">This Author has no Books assigned</p>
    }

</div>
