@page
@model Online_Book_Store.Pages.Authors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="bg-white sticky-top">
    <div class="jumbotron p-3 d-flex justify-content-between">
        <h1 class="display-3">Authors</h1>
        <form>
            <div class="d-flex justify-content-end">
                <div>
                    <br />
                    <input asp-for="SearchString" class="p-0" />
                    <br />
                    <input type="submit" value="Search" class="p-0 btn btn-outline-warning btn-block" onclick="this.form.submit();"/>
                </div>
                <div>
                    <br />
                    <div class="d-flex justify-content-end">
                        <a asp-page="Create" class="p-0 btn btn-warning">Add Author</a>
                    </div>
                    <label asp-for="Unassigned">Unassigned Authors Included</label>
                    <input asp-for="Unassigned" onchange="this.form.submit();" />
                </div>
            </div>
        </form>
    </div>

    <div class="d-flex bg-warning">
        <div style="flex: 0 0 25%" class="font-weight-bold">Name</div>
        <div style="flex: 0 0 15%" class="text-white">Born</div>
        <div style="flex: 0 0 40%" class="text-success">Colledge / University</div>
        <div style="flex: 0 0 20%" class="text-white">Email</div>
    </div>
    
</div>

<table class="table">
    <tbody>
        @foreach (var a in Model.Author)
        {
            string Date = a.Born.ToString("dd.MM.yyyy");
            if (a.BookAuthor.Any() || Model.Unassigned)
            {
                <tr class="@(a.BookAuthor.Any() ? "" : "lightGreyBg")">

                    <td>
                        <a asp-page="./Details" asp-route-id="@a.ID" class="linkModifier">@a.Name</a>
                    </td>
                    <td>
                        @Date
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => a.Colledge) / @Html.DisplayFor(modelItem => a.University)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => a.Email)
                    </td>

                </tr>
            }

        }
    </tbody>
</table>
