@page
@model Online_Book_Store.Pages.Books.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<div class="jumbotron p-2">
    <h1 class="display-4"><span class="text-danger">Delete </span><span class="text-secondary">this book?</span></h1>
</div>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Book.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt>
            Authors
        </dt>
        <dd>
            @{ string Authors = " ";
                Authors = String.Join(", ", Model.Book.BookAuthor.Select(m => m.Author.Name));
            }
            <span>@Authors</span>
        </dd>
    </dl>
</div>

<hr />

<div class="d-flex justify-content-between">
    <div>
        <form method="post">
            <input type="hidden" asp-for="Book.ID" />
            <input type="submit" value="YES, totally" class="btn btn-outline-danger" />
        </form>
    </div>
    <div>
        <a asp-page="./Index" class="btn btn-primary bg-warning">Back to List</a>
    </div>
</div>