@page "/Books/{id}"
@model Online_Book_Store.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="jumbotron p-2 d-flex justify-content-between">
    <h1 class="display-4" style="flex: 0 0 80%">@Model.Book.Title</h1>
    <div style="flex: 0 0 20%">
        <br />
        @foreach (var s in Model.Book.BookAuthor.Select(a => a.Author))
        {
            <div class="d-flex justify-content-center">
                <a asp-page="../Authors/Details" asp-route-id="@s.ID" class="text-warning linkModifier">@s.Name</a>
            </div>
            <br />
         }    
    </div>
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.ID)
        </dd>
        <!------------------------------------------------------>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Genre)
        </dd>
        <!------------------------------------------------------>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Rating)
        </dd>
        <!------------------------------------------------------>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Publish_date)
        </dt>
        <dd class="col-sm-10">
            @{string Date = Model.Book.Publish_date.ToString("dd.MM.yyyy");
            }
            @Date
        </dd>
        <!------------------------------------------------------>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Price)
        </dd>
    </dl>
    <!---------------------------------------------------------->

    @if (Model.Book.Book_additional_info != null)
    {
        <hr />
        <p>
            @Model.Book.Book_additional_info.Description
        </p>
    }


</div>


<hr />
<div class="d-flex justify-content-between">
    <div>
        @if (Model.ReturnId == null)
        {
            <a asp-page="./Index" class="btn btn-primary bg-warning">Back to List</a>
        }
        else
        {
            <a asp-page="../Authors/Details" asp-route-id="@Model.ReturnId" class="btn btn-primary bg-warning">Back to Author</a>
        }
    </div>
    
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Book.ID" class="btn btn-primary bg-warning">Edit</a>
        <a asp-page="./Delete" asp-route-id="@Model.Book.ID" class="btn btn-primary bg-danger">Delete</a>
    </div>
    
</div>
