@page
@model Online_Book_Store.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="bg-white sticky-top">
    <div class="jumbotron p-3">
        
        <form>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h6 class="display-4">Library</h6>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <!--sorting results-->
                    <label asp-for="SortParametar">Sort by:</label>
                    <br />
                    <select asp-for="SortParametar" class="w-100" onchange="this.form.submit();">
                        <option value="ID">ID</option>
                        <option value="Title">Title</option>
                        <option value="Genre">Genre</option>
                        <option value="Publish Date">Publish Date</option>
                        <option value="Rating">Rating</option>
                        <option value="Price">Price</option>
                    </select>
                    <br />
                    <select asp-for="SortOrder" onchange="this.form.submit();">
                        @if ((Model.SortParametar.Equals("Title") || Model.SortParametar.Equals("Genre")))
                        {
                            <option value="Asc">A - Z</option>
                            <option value="Desc">Z - A</option>
                        }
                        else if (Model.SortParametar.Equals("Publish Date"))
                        {
                            <option value="Asc">Fwd</option>
                            <option value="Desc">Back</option>
                        }
                        else
                        {
                            <option value="Asc">Asc</option>
                            <option value="Desc">Desc</option>
                        }
                    </select>
                </div>
                <!--show scpecific genre-->
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <label asp-for="SelectedGenre">Genre:</label>
                    <br />
                    <select asp-for="SelectedGenre" asp-items="@Model.GenreList" class="w-100" onchange="this.form.submit();">
                        <option value="">All</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-8 col-sm-8">
                    <!--search by book name-->
                    <label asp-for="SearchString">Search Book:</label>
                    <br />
                    <input asp-for="SearchString" class="p-0 w-100" />
                    <br />
                    <!--search by Author-->
                    <label asp-for="SearchAuthor">Search Author:</label>
                    <br />
                    <input asp-for="SearchAuthor" class="p-0 w-100" />
                </div>
                <!--show/hide additional info (genre, publich data and rating)-->
                <div class="col-lg-2 col-md-4 col-sm-4">
                    <div>
                        <label asp-for="MoreInfo">More Info</label>
                        <input asp-for="MoreInfo" onchange="this.form.submit();" />
                        <br />
                        <input type="submit" value="Search" onclick="this.form.submit();" class="p-0 btn btn-outline-warning btn-block" />
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="d-flex bg-warning">
        <!--column names-->
        @if (Model.MoreInfo)
        {
            <div class="row ContentWidth100Centered" >
                <div class="col-lg-5 col-md-6 col-sm-12">
                    ID <span class="font-weight-bold">Title</span>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    Authors
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 text-secondary">
                    Genre
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-right: 60px;">
                    <div class=" d-flex justify-content-between">
                        <div class="text-info">Date</div>
                        <div class="col-lg-1 col-md-1 col-sm-1 text-right">
                            <span class="text-danger">Rating</span>|<span class="text-success">Price</span>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row ContentWidth100Centered">
                <div class="col-lg-5 col-md-6 col-sm-12">
                    ID <span class="font-weight-bold">Title</span>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    Authors
                </div>
                <div class="col-lg-1 col-md-10 col-sm-10 text-danger">
                    Rating
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2 text-success">
                    Price
                </div>
            </div>
        }
    </div>
</div>

<!--info message and image that appears if search has no results-->
@if (Model.Book.Count == 0)
{
    <div class="d-flex justify-content-between">
        <div class="text-secondary">
            <h3>Oops, nothing found</h3>
            <p>check if name is typed correctly, try typing part of the name</p>
        </div>

        <img src="~/BookSearching.png" />
    </div>
}

<table>
    <!--table data-->
    @foreach (Models.Book b in Model.Book)
    {

        string Authors = " ";
        Authors = String.Join(", ", b.BookAuthor.Select(a => a.Author.Name));
        
        <tr>
            @if (Model.MoreInfo)
            {
                string Date = b.Publish_date.ToString("dd.MM.yyyy.");

                <a asp-page="./Details" asp-route-id="@b.ID" class="d-flex linkModifier">
                    <div class="row ContentWidth100Centered" style="border-bottom: 1px solid; padding: 2px 1px">
                        <div class="col-lg-5 col-md-6 col-sm-12">
                            @b.ID <span class="font-weight-bold">@b.Title</span>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12">
                            @Authors
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 text-secondary">
                            @b.Genre
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class=" d-flex justify-content-between">
                                <div class="text-info">@Date</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 text-right">
                                    <span class="text-danger">@b.Rating.ToString("0.0")</span>|<span class="text-success">@b.Price.ToString("00.00")</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
            else
            {
                <a asp-page="./Details" asp-route-id="@b.ID" class="d-flex linkModifier">
                    <div class="row ContentWidth100Centered" style="border-bottom: 1px solid; padding: 2px 1px">
                        <div class="col-lg-5 col-md-6 col-sm-12">
                            @b.ID <span class="font-weight-bold">@b.Title</span>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12">
                            @Authors
                        </div>
                        <div class="col-lg-1 col-md-10 col-sm-10 text-danger">
                            @b.Rating.ToString("0.0")
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-2 text-success">
                            @b.Price.ToString("00.00")
                        </div>
                    </div>
                </a>
            }
        </tr>
    }
</table>