@page
@model Online_Book_Store.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Title)
            </th>
            <th>
                Authors
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Publish_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var b in Model.Book) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => b.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => b.Title)
            </td>
            <td>
                @{ string Authors = " ";
                    Authors = String.Join(", ", b.BookAuthor.Select(a => a.Author.Name));
                  }
                <span>@Authors</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => b.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => b.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => b.Publish_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => b.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@b.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@b.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@b.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
